<main class="h-screen flex flex-col bg-black overflow-hidden">
    <header class="flex-none bg-base-100 border-b border-white/10 p-2 flex flex-col md:flex-row items-center gap-4">
        <div class="flex items-center gap-3 px-4">
            <div class="w-8 h-8 bg-primary rounded-lg flex items-center justify-center text-primary-content font-black">PS</div>
            <div>
                <h1 class="text-sm font-bold uppercase tracking-widest leading-none">PolyStream</h1>
            </div>
        </div>

        <div class="tabs tabs-boxed bg-base-300 p-1">
            <a routerLink="/stats" routerLinkActive="tab-active" class="tab tab-sm gap-2" #statsRef="routerLinkActive">
                Statistics
                @if (statsRef.isActive) {
                    <span [class.badge-success]="service.connectedStatistics()" class="badge badge-xs"></span>
                }
            </a>
            <a routerLink="/events" routerLinkActive="tab-active" class="tab tab-sm gap-2" #eventsRef="routerLinkActive">
                Events
                @if (eventsRef.isActive) {
                    <span [class.badge-success]="service.connectedEvents()" class="badge badge-xs"></span>
                }
            </a>
            <a routerLink="/queues" routerLinkActive="tab-active" class="tab tab-sm gap-2" #queuesRef="routerLinkActive">
                Queues
                @if (queuesRef.isActive) {
                    <span [class.badge-success]="service.connectedQueues()" class="badge badge-xs"></span>
                }
            </a>
            <a routerLink="/threads" routerLinkActive="tab-active" class="tab tab-sm gap-2" #threadsRef="routerLinkActive">
                Threads
                @if (threadsRef.isActive) {
                    <span [class.badge-success]="service.connectedThreads()" class="badge badge-xs"></span>
                }
            </a>
            <a routerLink="/roundtrip" routerLinkActive="tab-active" class="tab tab-sm gap-2">
                Roundtrip
            </a>
        </div>

        <div class="hidden lg:flex ml-auto items-center gap-4 pr-4">
            <div class="text-right">
                <div class="text-[10px] opacity-40 uppercase">Rust Version</div>
                <div class="text-xs font-mono">v1.92.0</div>
            </div>
        </div>
    </header>

    <div class="grow overflow-y-auto custom-scrollbar p-4 lg:p-6 bg-black">
        <div class="max-w-7xl mx-auto h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>