<div class="card bg-base-200 shadow-xl border border-base-300">
    <div class="card-body p-0">
        <div class="flex justify-between items-center p-4 border-b border-base-300">
            <h2 class="card-title text-sm uppercase tracking-widest opacity-70">
                Queue Architecture
            </h2>
        </div>

        <div #cyContainer style="width: 100%; height: 600px; background: #1a1a1a;"></div>
    </div>
</div>

<ng-template #tooltipTemplate>
    <div class="p-2 bg-accent rounded">
        @for (w of wal; track w[1]) {
            <div>Runner {{w[0]}} : {{formatNumber(w[1])}}</div>
        }
    </div>
</ng-template>
