<div class="list bg-base-100 rounded-box shadow-md border border-base-300">
    @for (entry of statistics(); track entry[0]) {
        @let img = getImage(entry[0]);

        <div class="list-row items-center py-4 px-6 border-b border-base-200 last:border-none">
            @if (img) {
                <div class="avatar shrink-0">
                    <div class="w-12 h-12">
                        <img [ngSrc]="img"
                             alt="Logo"
                             class="logo-outline object-contain"
                             height="100"
                             width="100">
                    </div>
                </div>
            }

            <div class="flex-grow">
                <h3 class="text-lg font-bold text-primary">{{ entry[0] }}</h3>

                <div class="flex flex-wrap gap-x-4 gap-y-1 mt-1">
                    @for (value of entry[1]; track $index) {
                        <div class="text-sm opacity-80 flex items-center gap-1">
                            <span class="badge badge-sm badge-ghost text-xs">({{ value[0] }})</span>
                            <span class="font-medium">{{ value[1] }}:</span>
                            <span class="font-mono">{{ value[2] | number }}</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>