.logo-outline {
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
}

@keyframes value-pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); color: #3b82f6; } /* --p is the DaisyUI primary color */
    100% { transform: scale(1); }
}

.animate-pop {
    /*display: inline-block;*/
    /* This ensures the animation runs once when the element is rendered */
    animation: value-pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}